asgiref==3.5.2; python_version >= "3.8"
django==4.1; python_version >= "3.8"
gunicorn==20.1.0; python_version >= "3.5"
pillow==9.2.0; python_version >= "3.7"
python-dotenv==0.20.0; python_version >= "3.5"
sqlparse==0.4.2; python_version >= "3.8"
tzdata==2022.1; sys_platform == "win32" and python_version >= "3.8"
